In [ ]:
# Regular Expressions
import re

In [ ]:
txt = "The rain in Spain"
x = re.search("^The.*Spain$",txt)
print(x)

<re.Match object; span=(0, 17), match='The rain in Spain'>

In [ ]:
txt1 = "Hello How are you"
y = re.search("How are",txt1)
print(y)

<re.Match object; span=(6, 13), match='How are'>

In [ ]:
# The findall() function returns a list containing all matches.
x = re.findall("ain",txt)
print(x)

['ain', 'ain']

In [ ]:
x = re.findall("Span",txt)
print(x)

[]

In [ ]:
# The search() function searches the string for a match, and returns a Match object if there is a match
x = re.search("\s",txt)
print("The first white-space character is located in position: ",x.start())

The first white-space character is located in position:  3

In [ ]:
x = re.search("Spam",txt)
print(x)

None

In [ ]:
# The split() function returns a list where the string has been split at each match:
x = re.split("\s",txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [ ]:
x = re.split("\s",txt,1)
print(x)

['The', 'rain in Spain']

In [ ]:
# The sub() function replaces the matches with the text of your choice:
x = re.sub("\s","9",txt)
print(x)

The9rain9in9Spain

In [ ]:
x = re.sub("\s","9",txt,2)
print(x)

The9rain9in Spain

In [ ]:
x = re.search("ai",txt)
print(x)

<re.Match object; span=(5, 7), match='ai'>

In [ ]:
# .span() returns a tuple containing the start-, and end positions of the match.
# .string returns the string passed into the function
# .group() returns the part of the string where there was a match

#Search for an upper case "S" character in the beginning of a word, and print its position:
x = re.search(r"\bS\w+",txt)
print(x.span())

(12, 17)

In [ ]:
x = re.search(r"\bS\w+", txt)
print(x.string)

The rain in Spain

In [ ]:
#Search for an upper case "S" character in the beginning of a word, and print the word:
x = re.search(r"\bS\w+", txt)
print(x.group())

Spain

In [ ]:
txt_new = "Hello....."
three_w_re = re.compile('Hello')
three_w_re.search(txt_new)

In [ ]:
pattern = re.compile("d")
pattern.search("dog")  # Match at index 0
pattern.search("d",1) # No match; search doesn't include the "d"

In [ ]:
rhy = "Bat bot hat hot"
rhy_re = re.compile(r'h[ao]t')
rhy_matches = rhy_re.findall(rhy)

print(rhy_matches)

['hat', 'hot']